[[source]]
url = "https://pypi.org/django-graphene-permissions-redux"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
graphene-django = "*"
django = ">=4"

[dev-packages]
twine = "*"
black = "*"

[requires]
python_version = "3.8"
